
div#nav {
  position: fixed;
  padding:10px;
}

img#icons {
  padding: 10px;
}

.home {
  width: 100%;

  background: #b81898;
}
.center {
  overflow-x: hidden;
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55em;
}

#learn-more {
  height: 50vh;
}

@media screen and (min-width: 480px) {
  #learn-more {
    width: 100%;

    height: 30vh;
  }
}

.button {
  padding: 10px;

  border: 7px #d91c74 solid;

  background: #d91c74;

  color: white;
  text-decoration: none;
  border-radius: 20px;
}
div.radios {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height:150px;
}
#radio {
  border-radius:30px;
  padding: 10px;
}

.container {
  position: relative;
  height:100px;
  width:100px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:100px;
  border-radius:10px;
  opacity: 0;
  transition: .5s ease;
  background-color: #13181a;
}

.container:hover .overlay {
  opacity: 0.5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}